html,
body,
ul,
ol {
	margin: 0;
	padding: 0 25px;
	font-family: Helvetica, sans-serif;
	color: #333;
}

h1 {
	padding: 20px;
	text-align: center;
	background-color: black;
	color: white;
}

h1 em {
	font-size: 12pt;
	font-weight: lighter;
	color: #e43137;
}

.angular-logo {
	margin: 0 auto;
	width: 75px;
	height: 75px;
	background: url(http://res.cloudinary.com/buddahbelly/image/upload/v1423072364/brilliantbritz/angular-js.png);
	background-size: cover;
}

.product {
	border-bottom: 1px solid black;
	margin-bottom: 25px;
}

.product-info-container {
	display: inline-flex;
}

.product-info {
	margin-left: 25px;
}

.product-info h2 {
	margin: 30px 0 0 0;
}

.product-info h4 {
	margin-top: 10px;
}


.product-image {
	margin-top: 10px;
	height: 100px;
	width: 100px;
	background-color: lightgrey;
}

img {
	height: 100%;
	width: 100%;
}

button {
	margin-bottom: 10px;
}

ul, li, blockquote {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

ul {
	max-width: 482px;
}

li {
	display: inline-block;
	width: 95px;
	padding: 5px;
	margin-right: 5px;
	background-color: grey;
	text-align: center;
	font-size: 10pt;
	font-weight: bolder;
}

.active {
	background-color: black;
	transition: 1s;
}

a, a:active, a:hover {
	color: white;
	text-decoration: none;
}

.panel {
	margin: 10px 0;
	padding: 20px;
	max-width: 443px;
	min-height: 90px;
	background-color: whitesmoke;
}

.panel h3 {
	margin-top: 0;
}

.review {
	margin-bottom: 10px;
	padding: 10px;
	border-bottom: 1px solid black;
}

.review b {
	color: #e43137;
}

.review p {
	margin: 0;
	padding: 0;
}

.review cite {
	font-size: 10pt;
}

.review-form {
	padding: 10px;
	max-width: 500px;
	color: black;
}

.review-form select {
	height: 25px;
	width: 100px;
	font-size: 12pt;
	margin-bottom: 10px;
}

.review-form textarea {
	min-height: 80px;
	width: 99%;
	margin-bottom: 10px;
}

input.review-author {
	min-height: 25px;
	min-width: 217px;
	margin: 0 20px 10px 10px;
}

.submit-review {
	min-height: 30px;
	width: 130px;
}

.ng-invalid.ng-dirty {
	border-color: #FA787E;
}

.ng-valid.ng-dirty {
	border-color: #78FA89;
}

.try {
	background-color: red;
}