html,
body,
ul,
ol {
	margin: 0;
	padding: 0 25px;
	font: Helvetica, sans-serif;
	color: #333;
}

h1 {
	padding: 20px;
	text-align: center;
	background-color: black;
	color: white;
}

.product {
	border-bottom: 1px solid black;
}

.product-image {
	height: 50px;
	width: 50px;
	background-color: lightgrey;
}

img {
	height: 100%;
	width: 100%;
}

button {
	margin-bottom: 10px;
}