html,
body,
ul,
ol {
	margin: 0;
	padding: 0 25px;
	font: Helvetica, sans-serif;
	color: #333;
}

h1 {
	padding: 20px;
	text-align: center;
	background-color: black;
	color: white;
}

.product {
	border-bottom: 1px solid black;
}

.product-image {
	margin-top: 10px;
	height: 50px;
	width: 50px;
	background-color: lightgrey;
}

img {
	height: 100%;
	width: 100%;
}

button {
	margin-bottom: 10px;
}

ul, li, blockquote {
	margin: 0;
	padding: 0;
	list-style-type: none;
}

li {
	width: 145px;
	display: inline-block;
	padding: 5px;
	margin-right: 5px;
	background-color: grey;
	text-align: center;
}

.active {
	background-color: black;
	transition: 1s;
}

a, a:active, a:hover {
	color: white;
	text-decoration: none;
}

.panel {
	margin: 10px 0;
	padding: 20px;
	width: 443px;
	height: 90px;
	background-color: whitesmoke;
}

.panel h3 {
	margin-top: 0;
}